extends base

block content
  main.main
    include _asideUserMenu
    div.container-fluid: div.row
        h2.tableHeader Всі Тури
        div.addTour
            a#addNewTour(href=`create-tour/`) Створити тур
        table.manage
            tr
                th id
                th Назва туру
                th Опис
                th Дії
            each tour in tours
                tr
                    td= tour.id
                    td= tour.name
                    td= tour.summary
                    td
                        a.change(data-type=`tours` data-id=`${tour.id}` href=`update-tours/${tour.id}`) Змінити
                        button.del(data-type=`tours` data-id=`${tour.id}`) Х
                    