extends base
block content
  main.main
    include _asideUserMenu
    .tour-form
        h3 Змінити тур
        form.update-tour-form(data-id=`${tour.id}`)
            div.form-group
                img.form_user-photo(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`)
                each img, i in tour.images
                    img.form_user-photo(src=`/img/tours/${img}`, alt=`${tour.name} ${i + 1}`, class=`picture-box_img-${i + 1}`)

            div.form-group
                label(for="name") Назва:
                input#name.form-control(type="text" value=`${tour.name}` required)
            div.form-group.small
                label(for="duration") Тривалість:
                input#duration.form-control(type="number" min="1" value=`${tour.duration}` required)
            div.form-group.small
                label(for="maxGroupSize") Максимальний розмір групи:
                input#maxGroupSize.form-control(type="number" min="1" value=`${tour.maxGroupSize}` required)
            div.form-group.small
                label(for="price") Ціна:
                input#price.form-control(type="number" placeholder='$' min="1" value=`${tour.price}` required)
            div.form-group.small
                label(for="difficulty") Складність:
                input#difficulty.form-control(type="text" value=`${tour.difficulty}` required)
            div.form-group
                label(for="summary") Короткий опис:
                input#summary.form-control(value=`${tour.summary}` required)
            div.form-group
                label(for="description") Повний опис:
                input#description.form-control(value=`${tour.description}` required)
            
            h2.heading-secondary Координати точки:
            each point, i in tour.locations
                div.form-group.small
                    label(for="coord") Точка 
                        span= i+1 + ": "
                    input.form-control(type="text" value=`${point.coordinates[0]}` required)
                    input.form-control(type="text" value=`${point.coordinates[1]}` required)
                div.form-group.small.desc Опис
                    label(for="day")
                    input.form-control(type="text" value=`${point.description}` required)
                div.form-group.small.day День
                    label(for="day")
                    input.form-control(type="text" value=`${point.day}` required)
            
            h2.heading-secondary Tуристичні гіди:
            each guide in tour.guides 
                img.overview-box_img(src=`/img/users/${guide.photo}`, alt=`${guide.name}`)
                div.form-group.small.guides 
                    label(for="coord") id 
                    input.guide.form-control(type="text"  value=`${guide.id}` required)

            button.btn.btn-primary.right Відправити
                
            
                    

